//- Copyright (C) 2019 Ryan Bester
extends index

block dashboardContent
    h1 #{targetUser.first_name} #{targetUser.last_name}
    .container
        h2 General
        if error
            .alert.alert-danger(role="alert")= error
        if success
            .alert.alert-success(role="alert")= success
        form(action="" method="post")
            .form-group.row
                label.col-sm-2.col-form-label(for="firstName") First Name
                .col-sm-10
                    input#firstName.form-control(class=(firstNameInvalid ? "is-invalid" : undefined) type="text" name="firstName" placeholder="First Name" value=firstName)
                    .invalid-feedback Enter your first name
            .form-group.row
                label.col-sm-2.col-form-label(for="lastName") Last Name
                .col-sm-10
                    input#lastName.form-control(class=(lastNameInvalid ? "is-invalid" : undefined) type="text" name="lastName" placeholder="Last Name" value=lastName)
                    .invalid-feedback Enter your last name
            .form-group.row
                label.col-sm-2.col-form-label(for="username") Username
                .col-sm-10
                    input#username.form-control(class=(usernameInvalid ? "is-invalid" : undefined) type="text" name="newUsername" placeholder="Username" value=newUsername)
                    .invalid-feedback This username has been taken
            .form-group.row
                label.col-sm-2.col-form-label(for="emailAddress") Email Address
                .col-sm-10
                    input#emailAddress.form-control(class=(emailInvalid ? "is-invalid" : undefined) type="email" name="email" placeholder="Email Address" value=email)
                    .invalid-feedback Enter a valid email address
            .form-group.row
                .col-sm-10
                    button.btn.btn-primary(type="submit") Save
    .container
        h2 Password
        a.btn.btn-primary(href='/settings/user-' + targetUser.user_id + '/change-password/' role='button') Change Password
    .container
        h2 Security
        a.btn.btn-primary(href='/settings/user-' + targetUser.user_id + '/logout-everywhere/' role='button') Logout of all devices
    .container
        h2 Danger Zone
        a.btn.btn-primary.btn-danger(href='/settings/user-' + targetUser.user_id + '/delete-user/?nonce=' + deleteUserNonce role='button') Delete User